# Environment Variables For Each Stage

local:
  mysqlHost: localhost
  mysqlDatabase: MyDb
  mysqlUser: myuser
  mysqlPassword: myuserpassword

dev:
  mysqlHost: CHANGE ME
  mysqlDatabase: CHANGE ME
  mysqlUser: CHANGE ME
  mysqlPassword: CHANGE ME

test:
  mysqlHost: CHANGE ME
  mysqlDatabase: CHANGE ME
  mysqlUser: CHANGE ME
  mysqlPassword: CHANGE ME

production:
  mysqlHost: CHANGE ME
  mysqlDatabase: CHANGE ME
  mysqlUser: CHANGE ME
  mysqlPassword: CHANGE ME